<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-android-fingerprint-key"
        version="0.0.8">
    <name>TSAClient</name>
    <description>Cordova plugin to use tsa gateway</description>
    <license>Apache 2.0</license>
    <keywords></keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/TSA.js" name="TSA">
        <clobbers target="TSA" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TSA" >
                <param name="android-package" value="com.cordova.plugin.android.tsa.TSAClient"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <!--<uses-permission android:name="android.permission.USE_FINGERPRINT" />-->
            <!--<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />-->
        </config-file>

        <source-file src="src/android/TSAClient.java" target-dir="src/com/cordova/plugin/android/tsa" />
        <source-file src="src/android/libs/coinstack-pdfcontroller-1.1.0.jar" target-dir="libs" />
    </platform>

</plugin>